Team Members
- Julio Sanchez
- Henry Ramos
- Diego Ortiz

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("hw.txt")

In [3]:
l = len(df) // 2

In [4]:
pairs = {'height':[], 'weight':[]}

In [5]:
for i in range(l):
    pairs['height'].append(df.iloc[i*2,0])
    pairs['weight'].append(df.iloc[i*2+1,0])

In [6]:
data = pd.DataFrame(data = pairs)
data

    height  weight
0      180     170
1      200     170
2      180     140
3      190     180
4      130     150
5      220     185
6      110     165
7      300     150
8       86     140
9      300     155
10     150     182
11     178     170

In [7]:
data['H'] = data.height / 100
data['W'] = data.weight / 2.2
data['BMI'] = data.W / (data.H**2)

In [8]:
def Filter(title, minimum, maximum):
    filtered = data[(data.BMI > minimum)&(data.BMI < maximum)]
    print(title)
    for i, person in filtered.iterrows():
        print(f"Person {i}: {person.BMI}")
    print(f'Group Size: {len(filtered)}')
    print(f'Average BMI for this group: {filtered["BMI"].mean()}\n')

In [9]:
Filter('UnderWeight',0 , 18)
Filter('Normal weight', 18.5,24.9)
Filter('Overweight', 25,29.9)
Filter('Obesity', 30, 999)

UnderWeight
Person 5: 17.374154770848982
Person 7: 7.575757575757574
Person 9: 7.828282828282828
Group Size: 3
Average BMI for this group: 10.92606505829646

Normal weight
Person 0: 23.849607182940513
Person 1: 19.318181818181817
Person 2: 19.640852974186306
Person 3: 22.664316293125157
Person 11: 24.388564345640468
Group Size: 5
Average BMI for this group: 21.972304522814852

Overweight
Group Size: 0
Average BMI for this group: nan

Obesity
Person 4: 40.344271113501875
Person 6: 61.983471074380155
Person 8: 86.04159496533754
Person 10: 36.76767676767676
Group Size: 4
Average BMI for this group: 56.28425348022408